<!-- Imagen del header -->
<div class="img-header">
    <div class="bienvenidos ">
        <h1 class="animate__animated animate__bounceInLeft">Bienvenidos a LH Eventos</h1>
        <p>En la empresa nos caracterizamos por ser una empresa que se dedica a ofrecer sus servicios de sonido,
            iluminación y proyección para todo tipo de eventos, fiestas, convenciones entre otros, con responsabilidad,
            calidad y profesionalismo.</p>
        <button id="abajo">ver abajo</button>

        <hr>


    </div>

</div>


</header>

<!-- Acerca de nosotros -->

<main>

    <section id="acerca-de">
        <div class="info-container">
            <h1 class="animate__animated animate__pulse">Acerca de nosotros</h1>
            <hr>
            <p>Eventos LH es una empresa de sonido e iluminación que te ofrece un servicio profesional para que tus
                eventos sean únicos y memorables.
                Contamos con la mejor tecnologia del mercado en cuanto a sonorización, ambientación y decoración.
            </p>

            <div class="miembros">


                <div class="box-miembros animate__animated animate__pulse">
                    <div class="card-miembro">
                        <div class="card-img"><img src="images/Lucas.png" alt=""></div>
                        <div class="miembro-text">
                            <h4>Lucas Causichi </h4>
                            <p>Musicalizador y Dj</p>
                        </div>
                    </div>
                    <div class="card-miembro">
                        <div class="card-img"><img src="images/Hugo.png" alt=""></div>
                        <div class="miembro-text">
                            <h4>Hugo Causichi</h4>
                            <p>Animacion </p>
                        </div>
                    </div>


                </div>







                <div class="about-more"><button>Leer Mas</button></div>


            </div>



    </section>

    <!-- Nuestros proyectos -->
    <section id="our-proyects">
        <div class="deg-background">
            <div class="ejezproject">
                <div class="container-proyect">
                    <div class="proyect-title">
                        <h2>Galeria</h2>
                        <hr>


                    </div>
                    <div class="proyect-img">
                        <img class="animate__animated animate__pulse" src="images/lh2.jpg">
                        <img class="animate__animated animate__pulse" src="images/lh6.jpg" alt="">
                        <img class="animate__animated animate__pulse" src="images/lh3.jpg" alt="">
                        <img class="animate__animated animate__pulse" src="images/ambientacion.jpg" alt="">
                        <img class="animate__animated animate__pulse" src="images/boda.jpg" alt="">
                        <img class="animate__animated animate__pulse" src="images/dj1.jpg" alt="">
                        <img class="animate__animated animate__pulse" src="images/estructura.jpg" alt="">
                        <img class="animate__animated animate__pulse" src="images/lh8.jpg" alt="">
                        <img class="animate__animated animate__pulse" src="images/lh4.jpg" alt="">





                    </div>


                </div>
            </div>
        </div>



        <!-- Servicios -->
        <section id="servicios">
            <div class="servicio-title">
                <h2>Servicios</h2>

                <hr>

            </div>
            <div class="box-servicio">
                <div class="card-servicio">
                    <div class="card-img animate__animated animate__flipInX"><img src="images/ambientacion.jpg" alt="">
                    </div>
                    <div class="servicio-text">
                        <h4>Ambientación </h4>
                        <p>En conjunto con los encargados de la decoración trabajamos para de ambientar con estructuras
                            y luces led todo el espacio donde se va a realizar el evento.</p>
                    </div>
                </div>

                <div class="card-servicio">
                    <div class="card-img animate__animated animate__flipInX"><img src="images/iluminacion.jpg" alt="">
                    </div>
                    <div class="servicio-text">
                        <h4>Iluminacion de ultima generación</h4>
                        <p>Contamos con equipamiento de iluminación y efectos led de ultima generación que hara que tu
                            fiesta se destaque. </p>
                    </div>
                </div>

                <div class="card-servicio">
                    <div class="card-img animate__animated animate__flipInX"><img src="images/sonido.jpg" alt=""></div>
                    <div class="servicio-text">
                        <h4>Sonido triamplificado</h4>
                        <p>Siempre como empresa piensa en todos los aspectos necesarios que se requieren para un evento
                            de calidad, por lo que cuenta con equipos de última tecnología.</p>
                    </div>
                </div>
                <div class="card-servicio">
                    <div class="card-img animate__animated animate__flipInX"><img src="images/espuma.jpg" alt=""></div>
                    <div class="servicio-text">
                        <h4>Fiesta de espuma</h4>
                        <p>Una opción muy divertida a la hora del cotillon es la fiesta de la espuma.</p>
                    </div>
                </div>

            </div>




        </section>

        <footer id="footer">
            <div class="deg-footer">
                <div class="ejezfooter">
                    <div class="footer-content">
                        <div class="footer-title">
                            <h2>Formulario de contacto</h2>
                            <hr>

                        </div>
                        <div class="formulario-content">
                            <form action="/ " method="post" id="formulario">
                                <label for="user">Nombre</label>
                                <input type="text" id="user" name="nombre" placeholder="Ingresa tu nombre">

                                <label for="email">Correo electronico</label>
                                <input type="email" id="email" name="email" placeholder="Ingresa tu email">

                                <label for="mensaje">Escribe tu Mensaje</label>
                                <textarea name="mensaje" id=""></textarea>

                                <div class="send"><button>Enviar</button></div>

                                <div class="mensaje-form">
                                    <p style="color: white; text-align:center;">Escribenos un mensaje y te responderemos a la brevedad.</p>
                                </div>


                            </form>
                            {{#if message}}
                            <p style="color: white; text-align:center; margin-top:10px;">{{message}}</p>
                            {{/if}}

                            

                        </div>

                        

                    </div>


               
                </div>


        </footer>











</main>

<script src="https://kit.fontawesome.com/e97a9433a9.js" crossorigin="anonymous"></script>



<script src="javascripts/app.js"></script>



<!-- footer -->