<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="stylesheets/lightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="icon" href="images/logo-lh2.ico">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
        href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Quicksand:wght@300;500;700&family=Ubuntu:wght@300;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/estilos.css">


    <title>LH Eventos</title>
</head>

<body>
    <!-- Ir arriba -->
    <div class="go-top">
        <span id=""><i class="fas fa-angle-up"></i></span>
    </div>








    <!-- menu de navegacion -->
    <header id="header">

        <nav class="menu">

            <div class="logo">

                <img class="animate__animated animate__pulse" src="images/logo-lh.png" alt="logo">
                <span class="btn-menu"><i class="fas fa-bars"></i></span>


            </div>
            <div class="list-container">
                <ul class="list">
                    <li><a href="/ " class="activo">Inicio</a></li>
                    <li><a href="/#acerca-de" class="">Nosotros</a></li>
                    <li><a href="/#our-proyects" class="">Galeria</a></li>
                    <li><a href="/#servicios" class="">Servicios</a></li>
                    <li><a href="/promociones" class="">Promociones</a></li>
                    <li><a href="/#footer" class="">Contacto</a></li>
                </ul>


            </div>
        </nav>

       

        <body>
             {{{body}}}
            



            

                            <!-- Social media -->

                            <div class="center" >
                                <div id="social-test">
                                    <div class="social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa fa-vimeo"></i></a>
                                        <a href="#"><i class="fa fa-behance"></i></a>
                                        <a href="#"><i class="fa fa-dribbble"></i></a>
                                        <a href="#"><i class="fa fa-github"></i></a>
                                        <a href="#"><i class="fa fa-pied-piper"></a></i>
                                    </div>
                                </div>
                            </div>

                            <!-- Social media -->

                             <div class="footer-text">
                                <p style="color: white; text-align:center">&copy; LH Eventos - 2021 - Todos los derechos reservados</p>
                            </div>

                        </div>

                    </div>
                </div>

            </footer>

            <!-- scripts -->



            <script src="https://kit.fontawesome.com/e97a9433a9.js" crossorigin="anonymous"></script>



            <script src="javascripts/app.js"></script> 
        </body>

</html>